<div class="channel-program-header">
    <h4><%=name%></h4>
    <div class="channel-program-timer">
        <span>start:<%=lifetime_start%></span>
        <span>end:<%=lifetime_end%></span>
        <span>type:<%=schedule_type%></span>
        <span>params:<%=schedule_params%></span>
    </div>
</div>
<div class="channel-program-body">
    <div class="channel-program-layout">
        <div class="channel-program-layout-header">
            <span>layout name:<%=layout.name%></span>
            <span>layout width:<%=layout.width%></span>
            <span>layout height:<%=layout.height%></span>
            <button class="btn-channel-preview">预览</button>
        </div>
        <div class="channel-program-layout-body">
        </div>
        <div class="channel-program-layout-footer">
            <ul></ul>
        </div>
    </div>
    <div class="channel-program-widget">
        正在加载数据
    </div>
</div>
<div class="channel-program-footer">

</div>
