<div id="layout-editor-wrapper">
    <div class="layout-editor-header">
        <button type="button">返回</button>
            <!--<button type="button" class="btn-bigger">放大</button>
            <button type="button" class="btn-smaller">缩小</button>-->
        <button type="button">保存</button>

    </div>
    <div class="layout-editor-body">
        <div class="layout-editor-toolbar">
            <ul>
                <li><button class="btn-add-widget" data-widget-id="image">图片控件</button></li>
                <li><button class="btn-add-widget" data-widget-id="video">视频控件</button></li>
                <li><button class="btn-add-widget" data-widget-id="audio">音频控件</button></li>
                <li><button class="btn-add-widget" data-widget-id="html">Web文本控件</button></li>
                <li><button class="btn-add-widget" data-widget-id="clock">时钟控件</button></li>
            </ul>
            <ul class="layout-editor-properties">
            </ul>
        </div>
        <div class="layout-editor-canvas"></div>
        <div class="layout-editor-widget">
            <ul class="layout-editor-widget-properties">
            </ul>
            <div class="layout-editor-widgets"></div>
        </div>
    </div>
    <div class="layout-editor-footer"></div>
</div>
