<div id="layout-editor-wrapper">
    <div class="layout-editor-header">
        <button type="button" class="header-button-left glyphicon glyphicon-chevron-left"></button>
        <h1 class="header-title">编辑模板</h1>
        <!-- <button type="button" class="header-button-right glyphicon glyphicon-floppy-disk">保存</button> -->

    </div>
    <div class="layout-editor-body">


        <div class="row" style="height: 100%;">

            <div class="col-md-12" style="height: 100%;">
                <div class="box" style="height: 100%;">
                    


                    <!-- header -->
                    <div class="box-header with-border">
                        <i class="glyphicon glyphicon-th-large"></i>
                        <h3 class="box-title">模板</h3>
                        <small class="tips">tips:点击左边的控件按钮按钮，然后再画布上拖拽画出需要的大小</small>
                    </div>
                    
                    <!--edit-->
                    <ul class="layout-editor-properties">
                    </ul>
                    
                    <!-- toolbar -->
                    <div class="layout-editor-toolbar">
                        <div class="btn-group-vertical">
                            <button data-widget-id="video" class="btn btn-default">
                                <i class="glyphicon glyphicon glyphicon-film"></i>&nbsp&nbsp视频
                            </button>
                            <button data-widget-id="image" class="btn btn-default ">
                                <i class="glyphicon glyphicon-picture"></i>&nbsp&nbsp图片
                            </button>
                            <button data-widget-id="html" class="btn btn-default">
                                <i class="glyphicon glyphicon-font"></i>&nbsp&nbsp文本
                            </button>
                            <button data-widget-id="clock" class="btn btn-default">
                                <i class="glyphicon glyphicon-time"></i>&nbsp&nbsp时钟
                            </button>
                            <button data-widget-id="clock" class="btn btn-default">
                                <i class="glyphicon glyphicon-music"></i>&nbsp&nbsp音乐
                            </button>
                        </div>

                        <div class="btn-group-vertical" style="margin-top: 15px;">
                            <button data-widget-id="clock" class="btn btn-default">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp&nbsp删除
                            </button>
                        </div>

                        
                    </div>
                    <!-- canvas -->
                    <div class="layout-editor-canvas col-md-8"></div>
                    <!-- widget -->
                    <div class="layout-editor-widget">
                        <ul class="layout-editor-widget-properties">
                        </ul>
                        <div class="layout-editor-widgets"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-editor-footer row"></div>
</div>
