<div id="layout-list-dialog" class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn btn-close close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">选择布局</h3>
    </div>
    <div class="modal-header-body">
        <div class="has-feedback box-tools pull-right">
            <input type="text" class="layout-list-search form-control input-sm" placeholder="搜索布局">
            <span class="glyphicon glyphicon-search form-control-feedback">
            </span>
        </div>
        <ul class="layout-list">
        </ul>
    </div>
    <div class="text-center modal-footer">
        <ul class="pagination layout-list-pager">
        </ul>
    </div>
</div>
