<div id="layout-editor-wrapper" style="min-width: 1080px;">
    <div class="layout-editor-header">
	
        <button type="button" class="header-button-left glyphicon glyphicon-chevron-left btn-layout-editor-back"></button>
		
        <h1 class="header-title">编辑模板</h1>
        <!-- <button type="button" class="header-button-right glyphicon glyphicon-floppy-disk">保存</button> -->

    </div>
    <div class="layout-editor-body">


        <div class="row" style="height: 100%;">

            <div class="col-md-12" style="height: 100%;">

                <div class="box" style="height: 100%;">
                    


                    <!-- header -->
                    <div class="box-header with-border">
                        <!--edit-->
                        <ul class="layout-editor-properties">
                            
                        </ul>
                        <button type="button" class=" btn  btn-default btn-layout-editor-exit">取消编辑</button>
                        <button type="button" class=" btn  btn-primary btn-layout-editor-save">保存</button>
                    </div>
                    
                    
                    <div class="box-body" style="position: absolute; width: 100%; top: 58px; bottom: 47px;">

                        <!-- toolbar -->
                        <div class="layout-editor-toolbar">
                            <label>&nbsp工具栏</label>
                            
                            <div class="div-line-i" style="width: 76px;"></div>
                            <div class="btn-group-vertical">
                                <button data-widget-id="video" class="btn btn-default btn-add-widget">
                                    <i class="glyphicon glyphicon glyphicon-film"></i>&nbsp&nbsp视频
                                </button>
                                <button data-widget-id="image" class="btn btn-default  btn-add-widget">
                                    <i class="glyphicon glyphicon-picture"></i>&nbsp&nbsp图片
                                </button>
                                <button data-widget-id="html" class="btn btn-default  btn-add-widget">
                                    <i class="glyphicon glyphicon-font"></i>&nbsp&nbsp文本
                                </button>
                                <button data-widget-id="clock" class="btn btn-default  btn-add-widget">
                                    <i class="glyphicon glyphicon-time"></i>&nbsp&nbsp时钟
                                </button>
                            </div>

                            <div class="btn-group-vertical" style="margin-top: 15px;">
                                <button data-widget-id="audio" class="btn btn-default  btn-add-widget">
                                    <i class="glyphicon glyphicon-music"></i>&nbsp&nbsp音乐
                                </button>
                            </div>

                            <div class="btn-group-vertical" style="margin-top: 15px;">
                                <button class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>&nbsp&nbsp删除
                                </button>
                            </div>
                        </div>
                        <!-- canvas -->
                        <div class="layout-editor-canvas-title">
                            <label>&nbsp画布区</label>
                            
                            <div class="div-line-i"></div>
                        </div>
                        <div class="layout-editor-canvas"></div>
                        <!-- widget -->
                        <div class="layout-editor-widget">
                            <label>&nbsp控件属性</label>
                            <div class="div-line-i"></div>
                            <!-- propoties -->
                            <ul class="layout-editor-widget-properties">
                            </ul>
                            <!-- layout -->
                            <div class="layout-editor-widgets"></div>
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="box-footer layout-editor-footer" style="position: absolute; bottom: 0; width: 100%;">
                        <small class="tips">&nbsp&nbsp&nbspStep1:在工具栏中点击想要创建的控件&nbsp&nbsp&nbspStep2：在画布上拖拽画出大小&nbsp&nbsp&nbspStep3：拖拽调整大小和位置，也可以在右侧属性栏输入数值&nbsp&nbsp&nbsp（音乐控件不占面积，可点击直接添加）</small>
                        
                        
                    </div>

                </div>
                <!-- box -->

            </div>
        </div>
    </div>
</div>
