
<li>
    <label>控件类型:</label>
    <input type="text" readonly="readonly" value="<%=type%>">
</li>
<li>
    <label>上边距:</label>
    <input type="number" value="<%=top%>" data-property-id="widget-top">
</li>
<li>
    <label>左边距:</label>
    <input type="text" value="<%=left%>" data-property-id="widget-left">
</li>
<li>
    <label>宽:</label>
    <input type="number" value="<%=width%>" data-property-id="widget-width">
</li>
<li>
    <label>高:</label>
    <input type="text" value="<%=height%>" data-property-id="widget-height">
</li>
<li>
    <button class="btn-layout-editor-zindex-increase">上移一层</button>
    <button class="btn-layout-editor-zindex-decrease">下移一层</button>
</li>
<li>
    <button class="btn-layout-editor-delete-widget">删除控件</button>
</li>