<li>
    <label>布局名称:</label>
    <input type="text" value="<%=name%>" data-property-id="layout-name">
</li>
<li>
    <label>宽:</label>
    <input type="number" value="<%=width%>" data-property-id="layout-width">
</li>
<li>
    <label>高:</label>
    <input type="number" value="<%=height%>" data-property-id="layout-height">
</li>
<li>
    <label>背景颜色:</label>
    <input type="color" value="<%=background_color%>" data-property-id="layout-bg-color">
</li>
<li>
    <button class="btn-layout-editor-background">背景图片</button>
</li>