<!-- <label>
        <i class="glyphicon glyphicon glyphicon-film"></i>&nbsp视频控件
    </label>
--> 
<li>
    <label>控件类型:</label>
    <input type="text" readonly="readonly" value="<%=type%>">
</li>
    <div class="input-group">
        <span class="input-group-addon">上边距</span>
        <input type="number" value="<%=top%>" class="form-control"  data-property-id="widget-top">
        <span class="input-group-addon">像素</span>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">左边距</span>
        <input type="number" value="<%=left%>" class="form-control" data-property-id="widget-top">
        <span class="input-group-addon">像素</span>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="letter-spacing: 7px">宽度</span>
        <input type="number" value="<%=width%>" class="form-control" data-property-id="widget-left">
        <span class="input-group-addon">像素</span>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="letter-spacing: 7px">高度</span>
        <input type="number" value="<%=height%>" class="form-control" data-property-id="widget-width">
        <span class="input-group-addon">像素</span>
    </div>
    <br>
<li>
    <button class="btn-layout-editor-zindex-increase">上移一层</button>
    <button class="btn-layout-editor-zindex-decrease">下移一层</button>
</li>
<li>
    <button class="btn-layout-editor-delete-widget">删除控件</button>
</li>
