

<small class="direct-name-001-hint direct-name-hint" style="top: 10px; width: 24px;">编辑</small>
<input class="form-control layout-edit-propoties-name direct-name-001" type="text" value="<%=name%>" data-property-id="layout-name" style="margin-left: 15px;">



<div class="input-group layout-editor-property" style="width: 101px;">
	<label class="col-sm-3 control-label property-name-inline">宽</label>
    <input class="form-control" type="text" value="<%=width%>" data-property-id="layout-width"  style="width: 61px;top: 4px; height: 28px; float: right;">
</div>

<div class="input-group layout-editor-property" style="margin-left: 15px; width: 101px;">
	<label class="col-sm-3 control-label property-name-inline">高</label>
    <input class="form-control" type="text" value="<%=height%>" data-property-id="layout-height" style="width: 61px;top: 4px; height: 28px; float: right;">

</div>

<div class="input-group layout-editor-property" style="margin-left: 32px; width: 72px;">
	<label class="control-label property-name-inline">背景色</label>
    <input class="form-control" type="color" value="<%=background_color%>" data-property-id="layout-bg-color" style="width: 25px;top: 4px; height: 28px;float: right; padding: 3px;">

</div>

<div class="col-xs-2 layout-editor-property">
	<!-- <label class="control-label property-name-inline">背景图</label> -->
	<div class="col-sm-9">
		<button type="button" class="btn-layout-editor-background btn btn-block btn-default">添加背景图</button>
	</div>
</div>




<script type="text/javascript">


	function directName(obj,hint){
		//get name
		$obj = $(obj);
		var t = $obj.val();
		var length = t.length;
		var width = parseFloat($obj.css('font-size'));
		var left = length * width +37;

		//get hint
		$hint = $(hint);
		
		//ux fix
		$obj.css('cursor','pointer');

		//reposition
		$hint.css('left',left);

		//event
		$hint.click(function(){
			$obj.focus().val(t);
		});
		$obj.focus(function(){
			$hint.css('display','none');
			$obj.css('cursor','');
		});
		$obj.blur(function(){
			$hint.css('display','');
			$obj.css('cursor','pointer');
			//reposition
			var t = $obj.val();
			var length = t.length;
			var width = parseFloat($obj.css('font-size'));
			var left = length * width +37;
			$hint.css('left',left);
		});
	}

	directName('.direct-name-001','.direct-name-001-hint');

</script>