/*font-color*/
.gray-light{color: #999;}
/*treetree*/
.tree-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.tree-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.tree-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.tree-menu > li > a > .fa,
.tree-menu > li > a > .glyphicon,
.tree-menu > li > a > .ion {
  width: 20px;
}
.tree-menu > li .label,
.tree-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px;
}
.tree-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.tree-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}
.tree-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.tree-menu li.active > .tree-menu-2 {
  display: block;
}
.tree-menu .tree-menu-2 {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.tree-menu .tree-menu-2 .tree-menu-2 {
  padding-left: 20px;
}
.tree-menu .tree-menu-2 > li {
  margin: 0;
}
.tree-menu .tree-menu-2 > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.tree-menu .tree-menu-2 > li > a > .fa,
.tree-menu .tree-menu-2 > li > a > .glyphicon,
.tree-menu .tree-menu-2 > li > a > .ion {
  width: 20px;
}
.tree-menu .tree-menu-2 > li > a > .fa-angle-left,
.tree-menu .tree-menu-2 > li > a > .fa-angle-down {
  width: auto;
}
.tree-menu,
.tree-menu > li.header {
  white-space: nowrap;
  /*overflow: hidden;*/
}
.tree-menu:hover {
  overflow: visible;
}
.tree-menu > li.header {
  /*overflow: hidden;
  text-overflow: clip;*/
}
.tree-menu li > a {
  position: relative;
}
.tree-menu li > a > .pull-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
/*treetree style*/
.tree-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.tree-menu > li > a {
  border-left: 3px solid transparent;
}
.tree-menu > li:hover > a,
.tree-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
.tree-menu > li > .tree-menu-2 {
  margin: 0 1px;
  background: #2c3b41;
}
.tree-menu-2 > li > a {
  color: #8aa4af;
}
.tree-menu-2 > li.active > a,
.tree-menu-2 > li > a:hover {
  color: #ffffff;
}