



#layout-editor-wrapper {
    margin-left: 
    width: 100%;
    height: 100%;
    overflow: hidden;    
}


#layout-editor-wrapper .layout-editor-header {
    height: 50px;
    background: #3c8dbc;
}

#layout-editor-wrapper .btn-complete-layout {
}

#layout-editor-wrapper .btn-save-layout {
}

#layout-editor-wrapper .layout-editor-body {
    height: calc(100% - 80px);
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
}

/*#layout-editor-wrapper .layout-editor-toolbar {
    position: absolute;
    width: 220px;
    height: 100%;
}*/

.layout-editor-toolbar{
    padding-top: 60px;
    padding-left: 15px;
    width: 10%;
}

#layout-editor-wrapper .layout-editor-toolbar ul {
    list-style: none;
    padding-left: 0;
}
#layout-editor-wrapper .layout-editor-toolbar li {
    list-style: none;
}

#layout-editor-wrapper .layout-editor-toolbar li>label {
    width: 70px;
    text-align: right;
}

#layout-editor-wrapper .layout-editor-toolbar li>input {
    width: 126px;
}

#layout-editor-wrapper .layout-editor-toolbar li {
    text-align: center;
}

#layout-editor-wrapper .layout-editor-toolbar li>button {
    width: 100px;
}

#layout-editor-wrapper .layout-editor-canvas {
    position: absolute;
    left: 105px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    border: 1px solid #cccccc;
    overflow: auto;
    top: 105px;
}

#layout-editor-wrapper .layout-editor-widget {
    /*position: absolute;
    right: 0;
    width: 220px;*/
}

#layout-editor-wrapper .layout-editor-widget ul {
    list-style: none;
    padding-left: 0;
}
#layout-editor-wrapper .layout-editor-widget li {
    list-style: none;
}

#layout-editor-wrapper .layout-editor-widget li>label {
    width: 70px;
    text-align: right;
}

#layout-editor-wrapper .layout-editor-widget li>input,
#layout-editor-wrapper .layout-editor-widget li>select
{
    width: 126px;
}

#layout-editor-wrapper .layout-editor-widgets {
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

#layout-editor-wrapper .layout-editor-widgets ul {
    list-style: none;
    display: table;
}

#layout-editor-wrapper .layout-editor-widgets li {
    width: 100px;
    height: 100px;
    border: solid 1px #C97626;
}

#layout-editor-wrapper .layout-editor-footer {}
