<section id="channel-list-nav" class="content-header row">
	<h1>布局列表</h1>
	<div class="input-group input-group-sm col-sm-2 search-container">
		<input type="text" class="form-control">
		<span class="input-group-btn">
			<button type="button" class="btn btn-info btn-flat">搜索</button>
		</span>
	</div>
</section>
<section class="content">
	<div class="box">
		<!-- /.box-header -->
		<div id="layout-list-controls">
			<!-- Check all button -->
			<button type="button" class="btn btn-default btn-sm checkbox-toggle select-all"><i class="fa fa-square-o"></i>
			</button>
		</div>
		<div class="table-responsive">
			<table id="layout-table" class="table table-hover table-striped">
				<tbody>
				</tbody>
			</table>
		</div>

		<div class="text-center">
			<ul id="layout-table-pager" class="pagination">
			</ul>
		</div>
	</div>
</section>
<!-- icheck -->
<link rel="stylesheet" href="resources/plugins/iCheck/all.css"/>
<link rel="stylesheet" href="resources/css/pages/layout/list.css"/>
<script src="resources/plugins/iCheck/icheck.min.js"></script>
<script src="resources/plugins/jqPaginator/jqPaginator.min.js"></script>
<!--<script src="resources/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="resources/plugins/datatables/dataTables.bootstrap.min.js"></script>-->
<script>
	seajs.use('pages/layout/list', function(layoutList) {
		layoutList.init();
	});
</script>
