
#channel-editor-wrapper {
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#channel-editor-wrapper .channel-editor-header {
    height: 60px;
}

#channel-editor-wrapper .channel-editor-body {
    width: 100%;
    height: calc(100% - 60px);
}

#channel-editor-wrapper .channel-editor-body:after {
    content: '';
    display: block;
    clear: both;
}

#channel-editor-wrapper .channel-program-list {
    width: 300px;
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-program-list ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#channel-editor-wrapper .channel-program-list li {
    list-style: none;
    width: 100px;
    height: 100px;
    border: 1px solid #cccccc;
}

#channel-editor-wrapper .channel-program-editor {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-editor-footer {}

#channel-editor-wrapper ul>li.selected {
    border-color: red;
}

#channel-editor-wrapper .channel-program-header {
    height: 60px;
}

#channel-editor-wrapper .channel-program-body {
    height: calc(100% - 60px);
}

#channel-editor-wrapper .channel-program-footer {  }

#channel-editor-wrapper .channel-program-layout {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-program-layout-header {
    height: 60px;
}

#channel-editor-wrapper .channel-program-layout-body {
    height: calc(100% - 160px);
    position: relative;
}

#channel-editor-wrapper .channel-program-layout-footer {
    height: 100px;
}

#channel-editor-wrapper .channel-program-widget {
    width: 200px;
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-program-body:after {
    content: '';
    display: block;
    clear: both;
}

